*{
    margin: 0 ;
    padding: 0;
}
.btn{
    background-color: white
    ;
    color:#676767 ;
    border: 1px solid #C9C9C9;

}
#fg {
    width: 300px;
    color: black !important;
}
#fg ::placeholder{
    color: #000;
}